[user]
        name = jalmogo
        email = you@example.com
[core]
        editor = vim
[merge]
        tool = kdiff3
[alias]
  st = status
  cm = commit
  please = push --force-with-lease
  outgoing = log --pretty=oneline --abbrev-commit --graph @{u}..
  incoming = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
[color]
  ui = auto
